.home-page {
  display: flex;
  justify-content: space-between;
  .title {
    margin: auto;
    display:flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
      margin-bottom: 10rem;
      margin-top:10rem;
    }
    .buttons {  
      display:flex;
      justify-content: space-around;
      button {
        justify-content: space-between;
      }
    }
  }
  img {
    font-size: 5rem;
  }
}
