div.project3 {
    margin-top: 3rem;
    margin-bottom: 4rem;
    p.project3head {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .carousel {
      // FIRST PROJECT
      div.firstProject {
        border: 5px solid #0033cc;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        @media @large {
          width: 40rem;
        }
        @media @caro3 {
          width: 15rem;
          padding: 1rem;
        }
        a {
            text-align: center;
            text-decoration: none;
            p {
                text-decoration: none;
                color: black;
                @media @large {
                  font-size: 1.7rem;
                }
                @media @caro3 {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }
            }
            img.testimonial {
                border: solid #0033cc;
                width: 6rem;
                margin: 0rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                margin-bottom: 1rem;
                margin-top: 1rem;
                @media @large {
                  width: 7rem;
                  margin-top: 2rem;
                }
                @media @caro3 {
                    width: 6rem;
                    margin: 0rem;
                }
                :hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                  }
              }
              
        }
        div.buttons {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div.testdiv{
            margin: 1rem;
            font-size: 1rem;
          }
          p.testp {
            font-size: .9rem;
            margin-top: 1rem;
            @media @large {
              font-size: 1.5rem;
              padding: 1rem;
            }
            @media @caro3 {
                margin-top: 1rem;
                font-size: .7rem;
                // width: 100%;
                // border: solid red;
            }
          }
        }
      }
    }
  }
  