/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}

/* 1200px or bigger */
@media only screen and (min-width: 1200px) {
  .cardEven {
    display:flex;
  }
  .cardOdd {
    display:flex;
  }
  .imageContentMobile {
    display:none;
  }
}
/*1200 or smaller*/
@media only screen and (max-width: 1200px) {
  .cardOdd .imageContent {
    display:none;
  }
}
/*750 or smaller*/
@media only screen and (max-width: 900px) {
  img.cardImage {
    width:35rem;
  }
}
/*550px or smaller*/
@media only screen and (max-width: 580px) {
  img.cardImage {
    width: 20rem;
  }
}


.App {
  background-color:#0091ea;
}
.cardEven {
  width: 100%;
  background-color: white;
}
.cardOdd {
  width: 100%;
  background-color: #e1f5fe;
}
.cardOdd img {
  margin-left:2rem;
}
.cardEven .img {
  margin:2rem;
}
.innerCardContent {
  padding:4rem;
}
.imageContent {
  margin: auto;
}
.cardContent {
  text-align: center;
  width: 100%;
  margin: auto;
}
.cardImage {
  width: 40rem;
}
h1 {
  font-size: 4rem;
  font-family: 'Wendy One', sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: 'Wendy One', sans-serif;
}
p {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
p#emoji {
  font-size: 5rem;
}

